body {
		background-color:#333;
		color:#ff9966;
}

#author {	
			position:absolute;
			left:80px;
}

#game canvas{
		position:absolute;
		top:100px;
		left:50px;
		width:650px;
		height:480px;
		background:#333333;
}


a:link {color: #fff;text-decoration: underline;} /*未访问的链接 */
a:visited {color: #f26;text-decoration: underline;} /*已访问的链接*/
a:hover{color: #f00;text-decoration: underline;} /*鼠标在链接上 */