canvas{
    position:absolute;
    height:545px;
    width:626px;
    left:217px;
}

#tankAll{
    display:none;
}

#game{
    background:#000;
    height:545px;
    width:980px;
}

.webgame_skin_roomList_BattleCity{background:url(img/wall.png);height:545px;color:#fff;}

.webgame_skin_seatList_BattleCity{background:url(img/wall.png);height:545px;color:#fff;}

.webgame_skin_seatList_BattleCity .webgame_gameHelpLink{color:#fff;}
.webgame_skin_seatList_BattleCity .webgame_gameHelpLink:hover{color:#fff;}
.webgame_skin_seatList_BattleCity .webgame_smallGameRoom_seatList > ul > li:hover
{
	outline: 2px dashed #fff;
	outline-offset: 2px;
}

.webgame_skin_seatList_BattleCity .webgame_smallGameRoom_seatList>ul>li {background:#a96;}

.webgame_skin_seatList_BattleCity .webgame_middleGameRoom_title h1{font-family:微软雅黑;}

